{% load static %}

<footer class=' w-full text-white bg-gray-900 p-3 text-center'>
    <p class='text-xl m-5'>Feito Por Felipe Menezes Lins e Maisa Gomes Beatto</p>
    <p class='text-left text-xl m-5'>
        Este site é um projeto pessoal de portfólio, criado exclusivamente com fins educacionais e demonstrativos.
        Não possui qualquer vínculo com a Netflix, não representa a empresa e não gera nenhum tipo de lucro.
        Todos os elementos visuais inspirados na plataforma original foram utilizados apenas para aprendizado e desenvolvimento de habilidades em front-end e back-end.
    </p>
    <p class='text-xl mb-5'>Link do meu portifolio</p>
    <a href="https://felipemenezeslins.github.io/portifolio/" target='_blank'>
        <img class='w-30 rounded-xl block m-auto hover:w-35 transition-all duration-300' src="{%static 'image/Felipe-logo.webp'%}" alt="Logo do meu portifolio">
    </a>
</footer>